---
 interface Props {
    img:string;
    title:string;
    date:string;
    name:string;
    text:string;
 }
 const { img, title, date, name, text } = Astro.props
---

<div class="grid grid-cols-1">
    <div>
        <img src="" alt="">
    </div>
    <div>

    </div>

</div>